body{
    height: 3000px;
    margin-top: 80px;
}
p{
    font-family: Roboto;
}
.header{
    display: flex;
    padding: 5px 40px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: lightblue;
}

.left-section{
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.profile-img{
    width: 36px;
    border-radius: 18px;
}

.add-button{
    background-color: blue;
    color: white;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
}
.msg-button{
    background-color:rgb(179, 177, 177);
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
}


.sidebar1{
    width: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    background-color: rgb(49, 46, 46);
    padding: 10px;
}
.img{
    width: 40px;
    border-radius: 20px;
    margin-bottom: 3px;
}

.sidebar2{
    position: fixed;
    width: 150px;
    left:70px;
    bottom: 0;
    top:80px;
    background-color: rgb(129, 123, 123);
    padding: 5px 10px;
}
.first-line{
    display: flex;
    justify-content: space-between;
    
}