.video{
    margin-left: 5px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}
p{
    margin: 0;
}
.video-thumbnail{
    width: 300px;
}
.video-details{

}
.video-profile{
   display: inline-block;
   width: 50px;
   vertical-align: top;
}
.video-logo{
    width: 73%;
    border-radius: 25px;
}
.video-info{
    width: 240px;
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
}
.video-title{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}
.video-author,.video-stats{
    font-size: 12px;
    color:rgb(96, 96, 96);
    margin-bottom: 6px;
}
