.youtube{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
.search-bar{
    display: block;
    margin-bottom: 30px;
}
p{
    margin: 0;
}

.thumbnails{
    width: 100%;
}
.video-details{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-picture{
    width: 40px;
    border-radius: 20px;
}
.video-info{
    font-family: Roboto;
    font-weight: 500;
}
.video-title{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 6px;
}