p{
    margin: 0;
    font-family: Arial;
}

.flex-box{
    width: 300px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,03);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.grid{
    display: grid;
    grid-template-columns: 50px 60px;
    align-items: center;
    column-gap: 15px;
}
.profile-picture{
    width: 100%;
    border-radius: 50%;
}
.profile-info{
    font-size: 14px;
}

.follow-button{
    background-color: blue;
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    font-weight: bold;
}