*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 10px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 10px;
    
}
.searchbar{
    text-align: center;
    margin-top: 30px;
}
.box{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 10px;
    width: 220px;
    margin-top: 30px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.about{
    margin-top: 30px;
    text-align: center;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.ct{
    margin-top: 20px;
    font-size: 15px;
}
.cont:hover{
    cursor: pointer;
}
