.thumbnails{
    width: 100%;
}
.thumbnail-row{
    position: relative;
    cursor: pointer;
    min-width: 200px;
    max-width: 300px;
}
.time{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 2px;
    font-size: 12px;
    font-family: Roboto;
    border-radius: 2px;
}
.video-details{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-picture{
    width: 40px;
    border-radius: 20px;
}
.video-info{
    font-family: Roboto;
    font-weight: 500;
}
.video-title{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 6px;
}